body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #ece4e4;
  }
  main{
    margin-top: 100px;
  }
  header a{
    color:white;
  }
  .topic{
      margin: 0 auto;
      width: 70%;
      display: flex;
      font-family: 'Roboto', sans-serif;
      justify-content: space-between;
  }
  .left{
      width: 69%;
      background-color: rgba(0, 3, 7, 0.9);
  }
  .right{
      width: 30%;
  }
  .item img{
    width: 100%;
  }
  .item p{
    padding: 5px 20px 0px 15px;
    color:white;
    text-align: justify;
    font-weight: bold;
    font-size: 1.5em;
  }
  .item:hover p{
      color:rgb(209, 6, 6);
  }
  .item:hover{
      cursor: pointer;
  }
  .right h2{
      color:white;
      text-align: center;
      background-color: rgb(209, 6, 6);
      margin: 0px;
      padding: 5px 10px;
  }
  .right img{
      width: 100px;
      height: 60px;
      vertical-align: middle;
      padding: 5px 10px;
  }
  .atext{
    padding: 5px;
    font-weight: bold;
    font-size: 1em;
  }
  .article{
      display: flex;
      margin-bottom: 50px;
  }
  .latest a{
    color:black;
  }
  .latest a:hover{
    color:rgb(209, 6, 6);
  }
  .trending{
    width: 70%;
    margin: 0 auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .trending .item{
    width: 49%;
    background-color: rgba(0, 3, 7, 0.9);
    margin-bottom: 20px;
  }
  .posts{
    margin-top: 20px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .item .description{
    background-color: rgba(0, 3, 7, 0.7);
  }
  .bPost .item{
    position: relative;
    font-family: 'Roboto', sans-serif;
  }
  .bPost{
    margin-bottom: 20px;
    width: 100%;
  }
  .description{
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px;
    color:white;
    font-size: 1.5em;
    text-align: justify;
  }
  .description div{
    padding: 10px 20px;
  }
  .post{
    width: 30%;
    background-color: white;
    padding: 5px;
    margin-bottom: 20px;
  }
  .post a{
    color:black;
  }
  .post img{
    width: 100%;
  }
  .post .author{
    font-size: smaller;
  }
.fa-facebook-square{
  color:rgb(9, 107, 219);
}
.fa-instagram{
  color:rgb(192, 4, 192);
}
.fa-youtube{
  color:rgb(209, 6, 6);
}
.fa-twitch{
  color: purple;
}
.media{
  margin: 10px 50px;
  width: 30%;
}
footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(204, 204, 204);
}
.logo{
  margin: 0 auto;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}
.item iframe{
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
.left .podcast{
  color:white;
  width: 100%;
  text-align: center;
  font-weight: bold;
}














  @media (max-width: 1650px){
    .right{
      width: 100%;
    }
    .left{
      width: 100%;
      margin-bottom: 20px;
    }
    .topic{
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 48em) {
    .main{
        width: 100%;
    }
    .topic{
      flex-wrap: wrap;
      width: 100%;
    }
    .right{
      width: 100%;
      margin-top: 20px;
    }
    .right h2{
      font-size: 1em;
    }
    .right img{
      vertical-align: middle;
    }
    .left{
      width: 100%;
      font-size: 0.7em;
    }
    .trending .item{
      width: 100%;
      font-size: 0.5em;
    }
    .trending{
      width: 100%;
    }
    .posts{
      width: 100%;
    }
    .description{
      font-size: smaller;
    }
    .post{
      width: 45%;
      font-size: small;
    }
  }
